* {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
/* landing page */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  min-width: 1228px;
}

.navbar-container ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-container ul li {
  list-style: none;
  margin: 0 15px;
}

.navbar-container ul li a {
  text-decoration: none;
  color: inherit;
  gap: 48px;
}

.landing-page .greenmind ul {
  gap: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.landing-page .greenmind .info {
  color: #1e1e1e80;
}
.greenmind img {
  padding-left: 70px;
}

.landing-page .icons {
  margin-right: 60px;
  max-width: 216px;
}

.landing-page .icons ul {
  gap: 48px;
  margin-top: 0px;
}
/* landing-page-start */
.left-part {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 1228px;
}

.first {
  height: 100%;
  max-height: 512px;
  width: 100%;
  max-width: 1247px;
  background-color: rgba(193, 220, 220, 1);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  min-width: 1228px;
}

.box-container {
  display: flex;
  flex: 2;
  justify-content: space-between;
  padding: 20px;
  height: 500px;
  width: 50%;
}

.box-container .first-box h1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
}

.first-box {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin-left: 30px;
}

.small-firstbox {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-top: 24px;
}
.small-firstbox p {
  font-weight: 500;
  font-size: 18px;
  font-family: poppins;
  line-height: 27px;
}
.small-firstbox .num {
  font-family: poppins;
  font-weight: 500;
  font-size: 32px;
}
.vertical {
  border-left: 1px solid black;
  height: 70px;
}

.right-part {
  width: 850px;
  display: flex;
  position: relative;
  object-fit: cover;
}

.second-box-image-container .under {
  width: 450px;
  height: 400px;
  position: absolute;
  left: 210px;
  top: 60px;
  z-index: 1;
}

.second-box-image-container .over {
  width: 411px;
  height: 513.98px;
  position: absolute;
  top: -53px;
  object-fit: cover;
  left: 250px;
  z-index: 2;
}

.curly-arrow1 {
  position: absolute;
  left: 20px;
  top: 282px;
  bottom: 100px;
  width: 112.72px;
  height: 169.89px;
}

.curly-arrow2 {
  position: absolute;
  left: 635px;
  top: 0.5px;
  width: 112.54px;
  height: 154.41px;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  border-radius: 12px;
  background-color: #ffffff;
  margin-top: 48px;
  height: 64px;
  width: 439px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
  width: 400px;
  height: 24px;
  margin-bottom: 10px;
  color: #1e1e1e80;
}
.search-input::placeholder {
  color: #1e1e1e80;
  font-size: 18px;
  font-weight: 500;
}

.search-button {
  background-color: #e0ebea;
  border: none;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.search-button img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

/* Landing Page End */
.landing-page-end {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 65px;
  width: 100%;
  max-width: 1440px;
  padding: 20px 0;
  min-width: 1228px;
}

.landing-page-end .text-about img {
  height: 51px;
  width: 168px;
  margin-top: 20px;
}

.landing-page-end figcaption {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}

.landing-page-end .price {
  color: #1e1e1e80;
}

.landing-page-end img {
  max-width: 299px;
  width: 100%;
  height: 363px;
  border-radius: 12px;
}

.text-about {
  max-width: 256px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-about h2,
.text-about p {
  margin: 0;
}

.landing-page-end .text-about h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.landing-page-end .text-about p {
  color: #1e1e1e80;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
/* About Section */
.about {
  background-color: #ffffff;
  padding: 40px 16px;
  width: 100%;
  height: 512px;
  min-width: 1228px;
}

.about-container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.about-us {
  margin-bottom: 40px;
}

.about-us h3 {
  font-size: 32px;
  font-weight: 700;
}

.about-us p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  color: #1e1e1e80;
}

.amenities {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.amenities h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 27px;
  color: #000000;
}

.amenities p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #1e1e1e80;
}

/* Categories Section */
.categories-container {
  background-color: #ffffff;
  padding: 20px 16px;
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  min-width: 1228px;
}

.heading-section {
  text-align: center;
  padding-bottom: 50px;
  height: auto;
}

.image-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #c1dcdc;
  padding: 48px 0;
  width: 100%;
  gap: 0px;
  padding-bottom: 100px;
}

.image-section figure {
  text-align: center;
  flex: 1;
  max-width: 352px;
}

.image-section img {
  width: 100%;
  height: 512px;
  border-radius: 12px;
}

.categories-container figcaption {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.categories-container p {
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #1e1e1e80;
}

.categories-container .explore-button {
  width: 147px;
  height: 51px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: white;
  opacity: 1;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

.categories-container .image-section .explore {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}
/* Testimonial Section */
.testimonial {
  background-color: #ffffff;
  padding: 40px 16px;
  width: 100%;
  min-width: 1228px;
}

.testimonial-container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  height: 800px;
}

.title {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  padding-left: 65px;
}

.title h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  text-align: left;
  padding-left: 30px;
}

.frame-part {
  margin-left: auto;
  margin-right: 65px;
}

.review-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  height: auto;
  max-width: 1440px;
  width: 100%;
}

.review1-container,
.review2-container {
  flex: 1 1 300px;
  max-width: 613px;
  border-radius: 12px;
  background-color: #c1dcdc;
  padding: 30px;
  height: auto;
  width: 100%;
}

blockquote {
  margin: 0;
  position: relative;
}

blockquote img {
  height: 41px;
  width: 36.78px;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 24px;
  color: #555;
  margin-top: 0px;
}

.review1 p,
.review2 p {
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0;
  color: #1e1e1ebf;
  padding-left: 90px;
  padding-top: 30px;
  text-align: left;
  padding-left: 80px;
  font-weight: 500;
  font-size: 18px;
}

.review-author {
  text-align: left;
  font-weight: 500;
  padding-left: 90px;
  margin-top: 50px;
  line-height: 27px;
}

.role {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  font-style: normal;
}
.highlight {
  font-weight: 700;
  color: #1e1e1e;
  font-style: normal;
}

/* Footer */
.footer {
  background-color: #c1dcdc;
  padding: 40px 16px;
  width: 100%;
  min-width: 1228px;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container .left-section {
  flex: 1;
  max-width: 400px;
  padding-left: 16px;
  padding-right: 20px;
}

.footer-container .left-section h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-container .left-section p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin: 10px 0;
  color: #1e1e1e80;
  padding-left: 60px;
}

.footer-container .left-section img {
  padding-left: 60px;
}

.footer-container .right-section {
  display: flex;
  justify-content: space-between;
  flex: 2;
  max-width: 600px;
}

.footer-container.left-section .logos a {
  display: flex;
  height: 48px;
  gap: 5px;
}

.footer-container .left-section .logos img {
  height: auto;
  max-height: 30px;
}
.footer-container .left-section .logos a {
  gap: 10px;
}
.footer-container .right-section div {
  flex: 1;
  /* padding: 0 10px; */
}

.footer-container .right-section ul {
  list-style: none;
  padding: 0;
}

.right-section li {
  margin: 8px 0;
  font-size: 18px;
  color: #1e1e1e80;
  font-weight: 400;
  line-height: 27px;
}

.footer .right-section .heading {
  display: block;
  margin-bottom: 5px;
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}
.footer .right-section a {
  list-style: none;
  text-decoration: none;
  gap: 24px;
}
